<?xml version="1.0" encoding="UTF-8"?>
<suite name="Octbatch" >
<listeners> 
<listener class-name="org.uncommons.reportng.HTMLReporter"/>
 <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
</listeners>
      <test name="RegSet1">
      
     <groups>
      <run>

     <exclude name="smoke"/>
     <include name="regression"/>
     
      </run>
      </groups>
          
  	 
     <classes>
            <class  name="Scenario_Component.Scenario_Login" />
            <class  name="Scenario_Component.Scenario_Booksearch" />
       </classes>
    </test>
            
   
</suite>